@import "tailwindcss";

@theme {
  --color-primary: #00a176;
  --color-active: #004d39;
  --color-natural: #f1f1f1;

  --color-buttonPrimary: #00a176;
  --color-buttonDisabled: #dfdfdf;

  --color-text: #282828;
  --color-textDescription: #797979;
  --color-textWarning: #ff7657;
  --color-textLight: #cbcbcb;
  --color-textProfile: #474747;

  --color-placeholderPrimary: #fff;
  --color-background: #ffffff;
  --color-border: #cbcbcb;
  --color-borderInput: #6b7280;
  --color-borderSelect: #e5e7eb;
  --color-borderBottom: #f3f4f6;
  --color-borderCheckbox: #d1d5db;
  --color-borderFooter: #e8e9eb;
  --color-borderFeed: #e8e9eb;
  --color-footerBackground: #fcfcfc;

  --color-chipBorder: #a6cfc4;
  --color-chipActive: #f6fffd;

  --color-toastBackground: #a4a4a4;

  --color-modalBorderBottom: #f6f6f6;

  --color-iconBorder: #797977;
  --color-headerBottom: #e8e9eb;
  --color-selectActive: #f0fdf4;

  --color-mainBackground: #f6f6f6;
}
